<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<body>
 
   <!--Main Content-->
  <main class="container">
    <div class="jumbotron m-3">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>

<button type="button" class="btn btn-dark align-middle " >Dark</button>

  

  
  <!--Bottom Nav-->
  
<%-  include partials/bottom_nav.ejs %>

 <%-  include partials/footer.ejs %>



