<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<body>
 
   <!--Main Content-->
  <main class="container">
    <div class="jumbotron m-3">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
         
          <% if (title == "Home"){ %>
             <button type="button" class="btn btn-dark display-7">About Me</button>
           <% } else {%>
          
          <%} %>
     


  </main>



  

  
  <!--Bottom Nav-->
  
<%-  include partials/bottom_nav.ejs %>

 <%-  include partials/footer.ejs %>



